:root {
    --toy-margin: 20px;
    --toy-frame: 120px;
    --toy-frame-color: red;
    --toy-frame-border-color: rgb(53, 7, 7);
    --gold: rgb(255, 215, 0);
    --gold-rgb: 255, 215, 0;
    --magnetic-dust-color-rgb: 43, 43, 43;
}

body,
html {
    height: 100%;
    margin: 0;
    background-color: gray;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--gold);
}

body,
html,
.toy,
.screen-control,
.middle {
    display: flex;
    justify-content: center;
    align-items: center;
}

.toy {
    flex-direction: column;
    background-color: var(--toy-frame-color);
    border: 0px solid var(--toy-frame-border-color); 
    border-radius: 30px;
    box-shadow: 
        5px 5px 30px black,
        0 0 5px black,
        0 0 60px var(--toy-frame-border-color) inset,
        0 0 20px var(--toy-frame-border-color) inset,
        0 0 5px var(--toy-frame-border-color) inset;
}

.header,
.controls {
    height: var(--toy-frame);
    overflow: hidden;
}

.header {
    cursor: default;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-style: italic;
    text-shadow:
        0px 0px 1px rgb(255, 215, 0, 0.2),
        0px 0px 3px black; 
}

svg {
    overflow: visible;
}

.logo-border {
    height: 66px;
    aspect-ratio: 4 / 3;
    box-sizing: border-box;
    border: 3px solid var(--gold);
    border-radius: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 
        0 0 5px black,
        0 0 5px black inset;
    margin: 0 auto;
}

.toy-name {
    height: 70%;
    width: auto;
    margin-left: 5px;
}

.screen-control {
    margin: 0 auto;
    flex-direction: column;
    gap: 10px;
    width: 125px;
}

.screen-adjust {
    overflow: visible;
    padding: 0;
    margin: 0;
    background: whitesmoke;
    border-radius: 6px;
    width: 44px;
    height: 20px;
    transition: 
        all 0.2s ease,
        padding 0;
}

.screen-btn-enabled {
    cursor: pointer;
    box-shadow:
        0 0 1px black,
        0 0 10px black,
        0 0 18px black;
    border-top: 2px solid rgba(0, 0, 0, 0.2);
    border-right: 2px solid rgba(0, 0, 0, 0.5); 
    border-bottom: 2px solid rgba(0, 0, 0, 0.5);
    border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.screen-btn-enabled:active {
    border-top: 2px solid rgba(0, 0, 0, 0.5);
    border-right: 2px solid rgba(0, 0, 0, 0.2);
    border-bottom: 2px solid rgba(0, 0, 0, 0.2);
    border-left: 2px solid rgba(0, 0, 0, 0.5);
    box-shadow:
        0 0 1px black,
        0 0 5px black;
}

.screen-btn-disabled {
    cursor: default;
    border: none;
    padding: 2px;
    box-shadow:
        0 0 1px black inset,
        0 0 3px black inset,
        0 0 15px rgba(0, 0, 0, 0.5) inset,
        0 0 2px var(--toy-frame-border-color);
}

.middle-left,
.middle-right {
    cursor: default;
    align-self: flex-end;
    color: var(--toy-frame-color);
    display: flex;
    font-size: 30px;
    overflow: hidden;
    padding-bottom: 10px;
    text-shadow: 0 0 1px black;
    width: var(--toy-frame);
}

.middle-left {
    justify-content: center;
}

.middle-right {
    align-items: center;
    flex-direction: column;
}

.screen {
    min-width: 640px;
    min-height: 480px;
    max-width: calc((100vh - (var(--toy-frame) * 2) - (var(--toy-margin) * 2)) * 4 / 3);
    width: calc(100vw - (var(--toy-frame) * 2) - (var(--toy-margin) * 2));
    aspect-ratio: 4 / 3;
    background-color: whitesmoke;
    border-radius: 20px;
    box-shadow: 
        0 0 10px black inset,
        0 0 60px var(--toy-frame-border-color),
        0 0 5px var(--toy-frame-border-color);
    overflow: hidden;
    display: flex;
    flex-wrap: wrap;
}

.pixel {
    padding: 0;
    margin: 0.5px;
    box-sizing: border-box;
    border: none;
    border-radius: 10%;
}

.controls {
    width: calc(100% - (var(--toy-frame) * 0.2 * 2));
    display: flex;
    overflow: visible;
}

.knob {
    height: 80%;
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    background-color: whitesmoke;
    border-radius: 50%;
    box-shadow: 
        0 0 1px black,
        0 0 10px black,
        0 0 20px black,
        0 0 5px black inset;
    border-top: 6px dashed rgba(0, 0, 0, 0.2);
    border-right: 6px dashed rgba(0, 0, 0, 0.5); 
    border-bottom: 6px dashed rgba(0, 0, 0, 0.5);
    border-left: 6px dashed rgba(0, 0, 0, 0.2);
}

#right-knob {margin-left: auto}